<!DOCTYPE html>
<html>
<head>
  <title>in/flux</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Karla:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav navbar-right">
          {{^isUserLoggedIn}}
            <li><a href="#" class="login-btn" data-toggle="modal" data-target="#login-modal">Login</a></li>
            <li><a href="" class="signup-btn" data-toggle="modal" data-target="#signup-modal">Signup</a></li>
          {{/isUserLoggedIn}}
          {{#isUserLoggedIn}}
            <li><a href="/logout" id="logout-btn">Logout</a></li>
            <li><a href="/dashboard" class="dashboard-btn">Dashboard</a></li>
            <li><a href="/">Everything is Influx.</a></li>
          {{/isUserLoggedIn}}
        </ul>
      </div>
    </div>
  </nav>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  {{{body}}}
  
</body>
</html>