<!DOCTYPE html>
<html>
<head>
  <title>in/flux</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav navbar-right">
          {{^isUserLoggedIn}}
            <li><a href="#" class="login-btn" data-toggle="modal" data-target="#login-modal">Login</a></li>
            <li><a href="" class="signup-btn" data-toggle="modal" data-target="#signup-modal">Signup</a></li>
          {{/isUserLoggedIn}}
          {{#isUserLoggedIn}}
            <li><a href="/logout" id="logout-btn">Logout</a></li>
          {{/isUserLoggedIn}}
        </ul>
      </div>
    </div>
  </nav>

  {{{body}}}

  <!-- LOGIN MODAL -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/login" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <label for="inputUsername" class="col-md-2 text-center">Username</label>
                <input name="username" type="text" class="form-control col-md-3" id="inputUsername">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <label for="inputPassword" class="col-md-2 text-center">Password</label>
                <input name="password" type="password" class="form-control col-md-3" id="inputPassword">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <input type="checkbox"> Remember me
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="login-submit-btn" class="btn btn-primary">Sign in</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- SIGNUP MODAL -->
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/users" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Signup</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <label for="inputUsername" class="col-md-2 text-center">Username</label>
                <input name="username" type="text" class="form-control col-md-3">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <label for="inputPassword" class="col-md-2 text-center">Password</label>
                <input name="password" type="password" class="form-control col-md-3">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" id="signup-submit-btn" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.js"></script>
  <script src="app.js"></script>
</body>
</html>