html, body {
  background-color: white;
  font-family: 'Karla', sans-serif;
}

img {
  width: 600px;
}

/* Navbar */
.navbar {
  margin: 0;
}

#nav-line {
  color: #0095A3;
}

/* Homepage */
.color-text {
  color: #0095A3;
}

#title {
  border: 5px solid #000;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 2em;
  margin-top: 200px;
  padding: 10px 20px;
  text-align: left;
}

#title-container{
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=ddddddff&noise=000000&density=15&opacity=15);
  height: 800px;
  padding-top: 30px;
  top: 0;
}

#line {
  color: #0095A3;
  font-weight: 400;
}

#cursor {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: 400;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #7e7e7e;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #7e7e7e;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #7e7e7e;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #7e7e7e;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #7e7e7e;
  }
}

#tagline {
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

#subtagline {
  font-family: 'Karla', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

#main-signup-btn, #main-login-btn, #main-story-btn {
  background-color: #FBAE17;
  border-radius: 3px;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  padding: 10px 40px;
}

a, a:visited, a:hover {
  color: black;
  text-decoration: none;
}

#main-signup-btn:hover, #main-login-btn:hover, #main-story-btn:hover {
  background-color: #db9204;
}

#about-container {
  background-color: #FE9F97;
  color: #000;
  padding: 50px;
}

#country {
  margin-top: 50px;
  width: 30%;
}

#about-title {
  color: #FFF;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400; 
  padding-top: 50px;
}

#about {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 100px; 
}

#about::first-letter {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 90%; 
  padding-right: 10px;
}

/* Quote */
#quote-container1, #quote-container2 {
  background-color: #FBAE17;
  padding: 50px;
}

#quote-container3 {
  background-color: #FBAE17;
  padding: 75px 50px 20px 50px;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 70%;
}

#quote1, #quote2 {
  color: #FFF;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

#quote3 {
  color: #FFF;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
}

#name1, #name2, #name3 {
  font-size: 16px;
}

hr {
  border: none;
  background-color: black;
  width: 10%;
  height: 10px;
}

/* Data Carousel */
#carousel-example-generic {
  height: 600px;
}

.carousel-control.left, 
.carousel-control.right {
  background-image: none;
}

.carousel-inner {
  margin-top: 100px;
}

.caption-text {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

#main-carousel-container {
  margin-top: 20px;
}

#analysis-line hr {
  background-color: #000;
  height: 2.5px;
  width: 20%;
}

#origin-container, #race-container, #multiracial-container, #age-container {
  margin: 50px auto;
  height: auto;
  width: 950px;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
  color: #d3d3d3;
}

/* Data Analysis */
#data-analysis-container {
  background-color: #FE9F97;
  color: #000;
  padding: 50px;
}

#analysis-title {
  color: #0095A3;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400; 
  padding-top: 50px;
}

#analysis-text {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 100px; 
}

#analysis-text::first-letter {
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  font-weight: 400;
  line-height: 90%; 
  padding-right: 10px;
}

/* Story */
#story-logo-container {
  background: #fff;
  margin-bottom: 50px;
}

#story-logo {
  color: #B3461A;
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: -30px;
  margin-top: 50px;
  vertical-align: center;
}

#stories-logo {
  padding-top: -20px;
  width: 200px;
}

#partnership-text {
  border-bottom: 1px solid #B3461A;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 20px;
}

/* Map */
#map-canvas {
  margin: 0 auto;
  height: 500px;
}

#like {
  font-size: 20px;
}

/* Autocomplete Input */
.pac-container {
  z-index: 1051;
}

/* Dashboard Story */
#my-stories {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  border: 5px solid #0095A3;
  border-bottom: none;
  margin-left: 15px;
  padding: 10px;
}

#my-favorites {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  border: 5px solid #0095A3;
  border-bottom: none;
  margin-left: 15px;
  padding: 10px;
}

#stories-container, #favorites-container {
  margin: 30px auto;
}

#stories-subcontainer, #favorites-subcontainer {
  border-top: 5px solid #0095A3;
  margin-left: 15px;
  margin-top: 6px;
  padding-left: 0;
}

#share-story-btn {
  float: right;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-right: -15px;
  position: relative;
  top: -10px;
}

.entry-stories {
  float: left;
  padding: 10px;
  margin: 10px;
}

.view-btn, .edit-btn, .delete-btn {
  color: black;
  margin-right: 10px;
}

.glyphicon-eye-open, .glyphicon-pencil, .glyphicon-trash {
  padding-top: 5px;
}

.button-container {
  padding-top: 10px;
}

.button-container form {
  display: inline-block;
}

.view-modal img {
  width: 550px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.edit-modal img {
  width: 300px;
}

textarea {
  min-height: 150px;
}

.entry-favorites {
  padding: 20px;
}

.favorites-img {
  display: inline-block;
  float: left;
  height: auto;
  padding-right: 30px;
  width: 200px;
}

.favorites-line hr {
  background-color: #0095A3;
  height: 1px;
  width: 100%;
}

/* Login & Signup */
.modal-content {
  background-color: rgba(255,255,255,0.9);
}

.modal-title {
  color: #0095A3;
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

label[for=inputUsername], label[for=inputPassword] {
  padding-left: 0;
}

input[name="username"], input[name="password"], select[name="prompt"], input[name="location"], textarea[name="anecdote"] {
  background-color: rgba(255,255,255,0.6);
}

#login-submit-btn, #signup-submit-btn, #story-submit-btn, #update-btn {
  background-color: #0095A3;
  border: 1px solid grey;
}

#login-submit-btn:hover, #signup-submit-btn:hover, #story-submit-btn:hover, #update-btn:hover {
  background-color: #26767d;
}

input[name="location"], select[name="prompt"], textarea[name="anecdote"],input[type="file"] {
  margin-bottom: 20px;
}

input[type="text"]:focus, input[type="password"]:focus, select[name="prompt"]:focus, textarea[name="anecdote"]:focus, input[type="file"]:focus {
  border-color: rgba(0, 149, 163, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 149, 163, 0.6);
  outline: 0 none;
}

/* Charts */
#age-1990-btn, #age-2000-btn, #age-2010-btn {
  background-color: #FFF;
  border: 2px solid #0095A3;
  border-radius: 5px;
  color: #0095A3;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 700;
  outline: 0;
  padding: 10px 20px;
}

#age-btn-container .active {
  background-color: #0095A3;
  color: #FFF;
}

