html, body {
  background-color: papayawhip;
  font-family: 'Karla', sans-serif;
}

/* Homepage */
#title {
  font-family: 'Karla', sans-serif;
  font-size: 80px;
  font-weight: 700;
}

#line {
  color: red;
  font-weight: 400;
}

#tagline {
  font-family: 'Karla', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Quote */
#quote-container {
  background-color: #ccf9fb;
  padding: 50px;
}

#quote {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

#name {
  font-size: 16px;
}

/* Map */
#map-canvas {
  margin: 0 auto;
  height: 500px;
}

/* Autocomplete Input */
.pac-container {
  z-index: 1051;
}

/* Dashboard Story */
.entry {
  margin: 20px;
}

.view-btn, .edit-btn, .delete-btn {
  margin-right: 10px;
}

.button-container form {
  display: inline-block;
}